@CHARSET "ISO-8859-1";

table#pupilRecordTable { display: table; } 
table .centerColumn { text-align: center; }

#manageTargetsPage div.ui-grid-a > div { padding: 10px; }
#manageTargetsPage div.ui-grid-a:first-child { max-width: 700px; }