@CHARSET "ISO-8859-1";

#manageTargetsPage div.ui-grid-a>div { padding: 10px; }
#manageTargetsPage div.ui-grid-a div.ui-block-a { width: 35%; }
#manageTargetsPage div.ui-grid-a div.ui-block-b { width: 65%; }

#manageTargetsPopupSubjectList { max-height: 300px; overflow-y: auto; }
.seperateItems { margin-bottom: 20px; }